body
{
 
background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, 
rgba(238,145,237,1) 0%, rgba(208,139,207,1) 4%, rgba(255,172,172,1) 50%, 
rgba(255,204,158,1) 82%, rgba(255,200,122,1) 100%);
}

h1
{   
    text-align: center;
    margin: -8px -8px 0 -8px;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(240,160,239,1) 0%,
     rgba(252,209,251,1) 26%, rgba(244,200,213,1) 35%, rgba(242,210,215,1) 43%,
     rgba(255,202,202,1) 51%, rgba(240,210,207,1) 57%, rgba(254,221,191,1) 82%, rgba(249,248,246,1) 100%);
    color: #fae8e7;
    text-shadow: black 0px 1px 7px;
}

.container
{
    display: flex;
    align-items: center;
    width: 600px;
    height: 300px;
    border-bottom: 1px solid;
    box-shadow: 0px 1px 8px 1px;
    background-color: #f9f1e6;
    margin-top: 15px;
    border-radius: 20px;
}

.container:hover
{
    background-color: #f5c5d3;
}

.info
{
    margin:20px;
}

.postPic
{
    margin: 20px 14px 21px 17px;
}

.postPic:hover 
{
    transform: scale(1.1); /* zoom */
}

a
{
    text-decoration: none;
    color: black;
}

ul
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

a:hover
{
    color: purple;
}

button
{
    margin-left: 40px;
    height: 35px;
    width: 130px;
    box-shadow: black 0 10px 40px -7px;
    color: white;
    border-radius: 15px;
    border: 0;
}

button:hover
{
    background-color: #f5c5d3;
}

.wrapper
{
    text-align: center;
}

